<div class="search_result">
    <table>
        {% if result is not empty %}
        {% for item in result %}
        <tr><td class="search_result-name">{{ item.authot }}</td></tr>
        {% endfor %}
        {% else %}
            <tr><td class="">Совпадений не найдено</td></tr>
        {% endif %}
    </table>
</div>