<div id="commentModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Добавить комментарий</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% form_theme comment_form 'bootstrap_4_layout.html.twig' %}
            {{ form_start(comment_form, {'attr': {'id': 'newCommentForm', 'onsubmit': 'return false'}}) }}
            <input type="hidden" name="article" value="{{ article.id }}">
            <div class="modal-body">
                {{ form_row(comment_form.authot) }}
                {{ form_row(comment_form.text) }}
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Добавить</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
            </div>
            {{ form_end(comment_form) }}
        </div>
    </div>
</div>