<div class="row my-3">
    <div class="col-md-12">
        <div id="news-slider" class="owl-carousel">
        {% for slide in slider %}
            <div class="comment-slide">
                <div class="comment-review">
                    <p class="comment-description">
                        {{ slide.text }}
                    </p>
                    <div class="comment-bar">
                        <span><i class="fa fa-user"></i> {{ slide.authot }}</span>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</div>