/* stylelint-disable selector-list-comma-newline-after */  .blog-header {   line-height: 1;   border-bottom: 1px solid #e5e5e5; }  .blog-header-logo {   font-family: "Playfair Display", Georgia, "Times New Roman", serif;   font-size: 2.25rem; }  .blog-header-logo:hover {   text-decoration: none; }  h1, h2, h3, h4, h5, h6 {   font-family: "Playfair Display", Georgia, "Times New Roman", serif; }  .display-4 {   font-size: 2.5rem; } @media (min-width: 768px) {   .display-4 {     font-size: 3rem;   } }  .nav-scroller {   position: relative;   z-index: 2;   height: 2.75rem;   overflow-y: hidden; }  .nav-scroller .nav {   display: -webkit-box;   display: -ms-flexbox;   display: flex;   -ms-flex-wrap: nowrap;   flex-wrap: nowrap;   padding-bottom: 1rem;   margin-top: -1px;   overflow-x: auto;   text-align: center;   white-space: nowrap;   -webkit-overflow-scrolling: touch; }  .nav-scroller .nav-link {   padding-top: .75rem;   padding-bottom: .75rem;   font-size: .875rem; }  .card-img-right {   height: 100%;   border-radius: 0 3px 3px 0; }  .flex-auto {   -ms-flex: 0 0 auto;   -webkit-box-flex: 0;   flex: 0 0 auto; }  .h-250 { height: 250px; } @media (min-width: 768px) {   .h-md-250 { height: 250px; } }  .border-top { border-top: 1px solid #e5e5e5; } .border-bottom { border-bottom: 1px solid #e5e5e5; }  .box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }  /*  * Blog name and description  */ .blog-title {   margin-bottom: 0;   font-size: 2rem;   font-weight: 400; } .blog-description {   font-size: 1.1rem;   color: #999; }  @media (min-width: 40em) {   .blog-title {     font-size: 3.5rem;   } }  /* Pagination */ .blog-pagination {   margin-bottom: 4rem; } .blog-pagination > .btn {   border-radius: 2rem; }  /*  * Blog posts  */ .blog-post {   margin-bottom: 4rem; } .blog-post-title {   margin-bottom: .25rem;   font-size: 2.5rem; } .blog-post-meta {   margin-bottom: 1.25rem;   color: #999; }  /*  * Footer  */ .blog-footer {   padding: 2.5rem 0;   color: #999;   text-align: center;   background-color: #f9f9f9;   border-top: .05rem solid #e5e5e5; } .blog-footer p:last-child {   margin-bottom: 0; }

#comment-preloader {
    display: none;
    position: fixed;
    left: 0;
    width: 100%;
    top: 0;
    background-color: #ffffff80;
    height: 100vh;
    padding-top: 20%;
    z-index: 100000;
}

.search_result-name {
    cursor: pointer;
}

.row-flex {
    display: flex;
    flex-flow: row wrap;
}

.author-link {
    cursor: pointer;
}

.search_box {
    position: relative;
}
.search_box input[type="text"] {
    display: block;
    width: 100%;
    height: 35px;
    line-height: 35px;
    padding: 0;
    margin: 0;
    border: 1px solid #444;
    outline: none;
    overflow: hidden;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    text-indent: 15px;
    font-size: 14px;
    color: #222;
}

.search_result {
    position: absolute;
    top: 100%;
    left: 0;
    border: 1px solid #ddd;
    background: #fff;
    padding: 10px;
    z-index: 9999;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.comment-slide{
    margin: 0 15px;
    border: 1px solid #dadada;
    box-shadow: 0 0 5px rgba(167, 197, 167, 0.8);
    transition: all 0.4s ease-in-out 0s;
}
.comment-slide .comment-img{
    position: relative;
    overflow: hidden;
}
.comment-slide .comment-img:before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0);
    transition: all 0.4s linear 0s;
}
.comment-slide:hover .comment-img:before{
    background: rgba(0, 0, 0, 0.6);
}
.comment-slide .comment-img img{
    width: 100%;
    height: auto;
}
.comment-slide .category {
    width: 20%;
    font-size: 16px;
    color: #fff;
    line-height: 11px;
    text-align: center;
    text-transform: capitalize;
    padding: 11px 0;
    background: #9B7DF5;
    position: absolute;
    bottom: 0;
    left: -50%;
    transition: all 0.5s ease-in-out 0s;
}
.comment-slide:hover .category{
    left: 0;
}
.comment-slide .comment-review{
    padding: 25px 20px;
    background: #fff;
    position: relative;
}
.comment-slide .comment-title{
    margin: 0;
}
.comment-slide .comment-title a{
    display: inline-block;
    font-size: 16px;
    color: #9B7DF5;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 25px;
    transition: all 0.30s linear 0s;
}
.comment-slide .comment-title a:hover{
    text-decoration: none;
    color: #555;
}
.comment-slide .comment-description{
    font-size: 15px;
    color: #555;
    line-height: 26px;
}
.comment-review .comment-bar{
    margin-top: 20px;
}
.comment-bar span{
    display: inline-block;
    font-size: 14px;
}
.comment-bar span i{
    margin-right: 5px;
    color: #999;
}
.comment-bar span a{
    color: #999;
    text-transform: uppercase;
}
.comment-bar span a:hover{
    text-decoration: none;
    color: #9B7DF5;
}
.comment-bar span.comments{
    float: right;
}

.login-page {
    -ms-flex-align: center;
    align-items: center;
    background-color: #e9ecef;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100vh;
    -ms-flex-pack: center;
    justify-content: center;
}