{% extends 'base.html.twig' %}

{% block title %}Изменить статью{% endblock %}

{% block body %}
    <a href="{{ path('app_article_index') }}" class="btn btn-outline-info my-3">К списку статей</a>
    <h1>Изменить статью</h1>

    {{ include('article/_form.html.twig', {'button_label': 'Сохранить'}) }}

    {{ include('article/_delete_form.html.twig') }}
{% endblock %}
