{% extends 'base.html.twig' %}

{% block title %}Статьи{% endblock %}

{% block body %}
    {% for article in articles %}
    <div class="card flex-md-row mb-4 box-shadow">
        <div class="card-body d-flex flex-column align-items-start">
            <h3 class="mb-0">
                <a class="text-dark" href="{{ path('app_article_show', {'id': article.id}) }}">{{ article.caption }}</a>
            </h3>
            <div class="mb-1 text-muted">{{ article.created ? article.created|date('d.m.Y H:i') : '' }}</div>
            <p class="card-text mb-auto">{{ article.shorttext }}</p>
            <div class="mb-1 text-muted">Комментарии: {{ article.comments.count }}</div>
            <a href="{{ path('app_article_show', {'id': article.id}) }}">Читать полностью...</a>
        </div>
    </div>
    {% endfor %}
    {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('app_article_new') }}">Создать статью</a>
    {% endif %}
{% endblock %}