{% extends 'base.html.twig' %}

{% block title %}Создать статью{% endblock %}

{% block body %}
    <a href="{{ path('app_article_index') }}" class="btn btn-outline-info my-3">К списку статей</a>
    <h1>Создать статью</h1>
    {{ include('article/_form.html.twig') }}
{% endblock %}
