{% extends 'base.html.twig' %}

{% block title %}{{ article.caption }}{% endblock %}

{% block body %}

    <a href="{{ path('app_article_index') }}" class="btn btn-outline-info my-3">К списку статей</a>

    {% include 'comment/slider.html.twig' %}

    <div class="card">
        <div class="card-header">
            <h1>{{ article.caption }}</h1>
        </div>

        <div class="card-body">
            {{ article.text }}
        </div>
        <div class="card-footer">
            {{ article.created ? article.created|date('d.m.Y H:i') : '' }}
        </div>
    </div>
    <div id="comments" class="card my-3">
        <div class="card-header d-flex w-100" style="justify-content: space-between;">
            <p>Комментарии  (<span id="comments_count">{{ article.comments.count }}</span>)</p>
            <div class=" justify-content-end align-items-center">
                <div class="search_box">
                    <form action="">
                        <input type="text" name="search" id="search" placeholder="Введите имя автора">
                    </form>
                    <div id="search_box-result"></div>
                </div>
            </div>
        </div>
        <div class="card-body">
            {% if not is_granted('ROLE_ADMIN') %}
            <p>Только зарегистрированные пользователи могут добавлять комментарии</p>
            {% else %}
            <button id="createCommentBut" class="btn card-link mb-3">Добавить комментарий</button>
            {% endif %}

            <div id="comments-box"></div>
            <div class="w-100 text-center">
                <button id="more_but" class="btn" data-pageindex="1">
                    <i class="fa fa-spinner fa-pulse fa-fw" style="display: none"></i>
                    Показать ещё
                </button>
            </div>
        </div>
    </div>
    {% include 'comment/modal_form.html.twig' %}
{% endblock %}

{% block js %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css"/>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js"></script>
    <script src="{{ asset('js/comments.js') }}"></script>
    <script>
        Article.id = {{ article.id }};
    </script>
{% endblock %}
